@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-14{
    min-height: 3.5rem;
    min-width: 3.5rem;
}

.svg-6{
    min-height: 1.5rem;
    min-width: 1.5rem;
}

.svg-8{
    min-height: 2rem;
    min-width: 2rem;
}

@layer components {

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
    .loader {
        width: 45px;
        aspect-ratio: 0.75;
        --c: no-repeat linear-gradient(theme(colors.neutral.900) 0 0);
        background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
        background-size: 20% 50%;
        animation: loading 1s infinite linear;
        z-index: 12390129312399;
    }

    @keyframes loading {
        20% {
            background-position: 0% 0%, 50% 50%, 100% 50%;
        }
        40% {
            background-position: 0% 100%, 50% 0%, 100% 50%;
        }
        60% {
            background-position: 0% 50%, 50% 100%, 100% 0%;
        }
        80% {
            background-position: 0% 50%, 50% 50%, 100% 100%;
        }
    }
}

.rhap_container {
    padding: 12px 16px !important;
}

.rhap_main-controls-button {
    margin-top: 12px !important;
    width: 100% !important;
    height: 100% !important;
    font-size: 44px !important;
}

.rhap_additional-controls {
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    justify-content: flex-end !important;
}
