@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #f3f4f6;
}

@layer components {
    .main-color {
        @apply bg-gray-500
    }

    .second-color {
        @apply bg-gray-700
    }

    .child-color {
        @apply fill-green-600
    }

    .child-color-2 {
        @apply fill-gray-700
    }
    .child-color-3 {
        @apply fill-green-600
    }

    .background-color {
        @apply bg-gray-500
    }

    .hover-color {
        @apply bg-gray-600
    }

    .border-color {
        @apply bg-gray-700
    }

    .loader {
        width: 45px;
        aspect-ratio: 0.75;
        --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
        background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
        background-size: 20% 50%;
        animation: loading 1s infinite linear;
        z-index: 12390129312399;
    }

    @keyframes loading {
        20% {
            background-position: 0% 0%, 50% 50%, 100% 50%;
        }
        40% {
            background-position: 0% 100%, 50% 0%, 100% 50%;
        }
        60% {
            background-position: 0% 50%, 50% 100%, 100% 0%;
        }
        80% {
            background-position: 0% 50%, 50% 50%, 100% 100%;
        }
    }
}

.rhap_container {
    color: #f3f4f6 !important;
    background-color: #374151 !important;
}

.rhap_main-controls-button {
    color: #16a34a !important;
}

.rhap_time {
    color: #f3f4f6 !important;
}

.rhap_additional-controls {
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    justify-content: flex-end !important;
}
