@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #f3f4f6;
}

@layer components {
    .background-color {
        @apply bg-gray-500
    }
    .background-color-darker {
        @apply bg-gray-800
    }
    .main-color {
        @apply bg-gray-700
    }
    .hover-color {
        @apply bg-gray-600
    }
    .gradient-color {
        @apply from-gray-500 to-gray-600
    }
    .border-color {
        @apply border-gray-500
    }
    .border-color-darker {
        @apply border-gray-800
    }
    .checkbox-border{
        @apply border-green-600
    }
    .checkbox-background {
        @apply bg-green-600
    }
    .icon-color {
        @apply fill-green-600
    }
    .icon-color-darker {
        @apply fill-gray-700
    }
    .outline-color{
        @apply outline-gray-600
    }
    .divide-color{
        @apply divide-gray-800
    }

    .song-logo-one{
        @apply bg-gradient-to-tr from-green-600 to-green-300
    }

    .song-logo-two{
        @apply bg-gradient-to-tr from-cyan-600 to-cyan-300
    }

    .song-logo-three{
        @apply bg-gradient-to-tr from-teal-600 to-teal-300
    }

    .song-logo-four{
        @apply bg-gradient-to-tr from-emerald-600 to-emerald-300
    }

    .loader {
        width: 45px;
        aspect-ratio: 0.75;
        --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
        background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
        background-size: 20% 50%;
        animation: loading 1s infinite linear;
        z-index: 12390129312399;
    }

    @keyframes loading {
        20% {
            background-position: 0% 0%, 50% 50%, 100% 50%;
        }
        40% {
            background-position: 0% 100%, 50% 0%, 100% 50%;
        }
        60% {
            background-position: 0% 50%, 50% 100%, 100% 0%;
        }
        80% {
            background-position: 0% 50%, 50% 50%, 100% 100%;
        }
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.rhap_container {
    padding: 12px 16px !important;
    box-shadow: 0 -2px 4px 0 rgba(31, 41, 55, 0.7) !important;
    color: #f3f4f6 !important;
    background-color: #374151 !important;
}

.rhap_main-controls-button {
    margin-top: 12px !important;
    width: 100% !important;
    height: 100% !important;
    font-size: 44px !important;
    color: #16a34a !important;
}

.rhap_time {
    color: #f3f4f6 !important;
}

.rhap_additional-controls {
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    justify-content: flex-end !important;
}
