@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-color {
        @apply text-neutral-200;
    }

    .background-color {
        @apply bg-neutral-700;
    }

    .background-color-darker {
        @apply bg-neutral-800;
    }

    .main-color {
        @apply bg-neutral-900;
    }

    .hover-color {
        @apply bg-neutral-800
    }

    .border-color {
        @apply border-neutral-700;
    }

    .border-color-darker {
        @apply border-neutral-900;
    }

    .checkbox-border {
        @apply border-neutral-500;
    }

    .checkbox-background {
        @apply bg-neutral-500;
    }

    .icon-color {
        @apply fill-neutral-400;
    }

    .icon-color-darker {
        @apply fill-neutral-900;
    }

    .outline-color {
        @apply outline-neutral-600;
    }

    .divide-color {
        @apply divide-neutral-900;
    }

    .toolbar-shadow {
        @apply shadow-[0_2px_6px_0_rgba(229,229,229,0.07)]
    }

    .menu-shadow {
        @apply shadow-[0_0_12px_0_rgba(229,229,229,0.07)]
    }

    .gradient-color {
        @apply from-neutral-600 to-neutral-700;
    }

    .info-color{
        @apply text-neutral-300
    }

    .song-logo-one {
        @apply bg-gradient-to-tr from-neutral-400 to-neutral-200 ;
    }

    .song-logo-two {
        @apply bg-gradient-to-tr from-neutral-400 to-neutral-200 ;
    }

    .song-logo-three {
        @apply bg-gradient-to-tr from-neutral-400 to-neutral-200 ;
    }

    .song-logo-four {
        @apply bg-gradient-to-tr from-neutral-400 to-neutral-200 ;
    }

    .loader {
        --c: no-repeat linear-gradient(theme(colors.neutral.900) 0 0);
    }
}


.rhap_container {
    box-shadow: 0 -2px 4px 0 rgba(229, 229, 229, 0.07) !important;
    color: rgb(229 229 229) !important;
    background-color: rgb(38 38 38) !important;
}

.rhap_main-controls-button {
    color:  #a3a3a3 !important;
}

.rhap_time {
    color: rgb(229 229 229) !important;
}

.rhap_progress-filled {
    background-color:  #a3a3a3!important;
}

.rhap_volume-bar-filled {
    background-color:  #a3a3a3 !important;
}
