@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-color {
        @apply text-blue-50;
    }

    .background-color {
        @apply bg-slate-700;
    }

    .background-color-darker {
        @apply bg-slate-800;
    }

    .main-color {
        @apply bg-stone-950;
    }

    .hover-color {
        @apply bg-slate-800;
    }

    .gradient-color {
        @apply from-slate-700 to-stone-800;
    }

    .border-color {
        @apply border-slate-700;
    }

    .border-color-darker {
        @apply border-slate-900;
    }

    .checkbox-border {
        @apply border-blue-500;
    }

    .checkbox-background {
        @apply bg-blue-500;
    }

    .icon-color {
        @apply fill-blue-500;
    }

    .icon-color-darker {
        @apply fill-stone-900;
    }

    .outline-color {
        @apply outline-slate-800;
    }

    .divide-color {
        @apply divide-stone-900;
    }

    .info-color{
        @apply text-gray-300
    }

    .toolbar-shadow {
        @apply shadow-[0_2px_6px_0_rgba(29,78,216,0.2)]
    }

    .menu-shadow {
        @apply shadow-[0_0_12px_0_rgba(29,78,216,0.2)]
    }

    .song-logo-one {
        @apply bg-gradient-to-tr from-blue-500 to-blue-300;
    }

    .song-logo-two {
        @apply bg-gradient-to-tr from-purple-500 to-purple-300;
    }

    .song-logo-three {
        @apply bg-gradient-to-tr from-pink-500 to-pink-300;
    }

    .song-logo-four {
        @apply bg-gradient-to-tr from-pink-500 to-pink-300;
    }
    .loader {
        --c: no-repeat linear-gradient(theme(colors.blue.900) 0 0);
    }
}


.rhap_container {
    box-shadow: 0 -2px 4px 0 rgba(29, 78, 216, 0.2) !important;
    color: rgb(241 245 249) !important;
    background-color: rgb(15 23 42) !important;
}

.rhap_main-controls-button {
    color: rgb(59 130 246) !important;
}

.rhap_time {
    color: rgb(239 246 255) !important;
}

.rhap_progress-filled {
    background-color: rgb(59 130 246) !important;
}

.rhap_volume-bar-filled {
    background-color: rgb(59 130 246) !important;
}
